/*-------Portfolio--------*/

.portfolio-section .row {
margin:0px!important
}

@media only screen and (min-width: 1700px) {
.portfolio-inner {
min-width:500px!important;
}
}

/*-------Resume--------*/

.experience-inner img {
    max-width: 200px;
}

.mintz img {
    padding-bottom: 15px!important;
    padding-top: 15px!important;
}

.tyler {
    background-color: #73185E;
}

.tyler img {
    padding-bottom:35px!important;
}

.uconn img {
    padding-bottom:35px!important;
}

